
'Google firebase account details'

VITE_FIREBASE_APP_KEY: 
VITE_FIREBASE_AUTHDOMAIN:
VITE_FIREBASE_PROJECTID: 
VITE_FIREBASE_STORAGEBUCKET: 
VITE_FIREBASE_MESSINGINGSENDERID: 
VITE_FIREBASE_APPID:

'Stripe account public key' 
VITE_STRIPE_PK: 

'Agora account App ID'
VITE_AGORA_APP_ID:
